<%= form_for(@weekly_report) do |f| %>
  <% if @weekly_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weekly_report.errors.count, "error") %> prohibited this weekly_report from being saved:</h2>

      <ul>
      <% @weekly_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'form-control', rows: 20 %>
  </div>
  <div class="form-group">
    <strong>Reporting time:</strong> <%= @weekly_report.reported_time %>
    <%= f.hidden_field :reported_time %>
  </div>
  <div class="actions form-group">
    <%= bs_submit(f) %>
  </div>
<% end %>
