<h1>Listing Weekly Reports</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th>Content</th>
      <th>Reporting time</th>
      <th>Updated time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekly_reports.each do |weekly_report| %>
      <tr>
        <td><%= weekly_report.user.name %></td>
	<td><%= weekly_report.group.name %></td>
        <td><%= weekly_report.content %></td>
        <td><%= weekly_report.reporting_time %></td>
        <td><%= weekly_report.updated_at %></td>
        <td><%= link_to 'Show', weekly_report %></td>
        <% if weekly_report.user == current_user %>
	  <td><%= link_to 'Edit', edit_weekly_report_path(weekly_report) %></td>
	  <td><%= link_to 'Destroy', weekly_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% else %>
	  <td></td><td></td>
	<% end  %>	
      </tr>
    <% end %>
  </tbody>
</table>
