<p>
  <strong>User:</strong>
  <%= @weekly_report.user.name %>
</p>

<div>
  <strong>Content:</strong>
  <%= simple_format @weekly_report.content %>
</div>

<p>
  <strong>Reporting time:</strong>
  <%= @weekly_report.reporting_time %>
</p>
<p>
  <strong>Updated time:</strong>
  <%= @weekly_report.updated_at %>
</p>

<% if @weekly_report.user == current_user %>
  <%= link_to 'Edit', edit_weekly_report_path(@weekly_report) %> |
<% end %>
<%= link_to 'Back', weekly_reports_path %>
