<p>
  <strong>User:</strong>
  <%= @weekly_report.user.name %>
</p>

<div>
  <strong>Content:</strong>
  <%= Qiita::Markdown::Processor.new.call(@weekly_report.content)[:output].to_s.html_safe %>
</div>

<p>
  <strong>Reporting time:</strong>
  <%= @weekly_report.reporting_time %>
</p>
<p>
  <strong>Updated time:</strong>
  <%= @weekly_report.updated_at %>
</p>

<% if @weekly_report.user == current_user %>
  <%= link_to 'Edit', edit_weekly_report_path(@weekly_report) %>
<% end %>
