<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label 'グループ名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label '説明' %>
    <%= f.text_area :description, class: 'form-control', rows: 4 %>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#form">テンプレート</a></li>
    <li><a id="preview-tab" data-toggle="tab" href="#preview">プレビュー</a></li>
  </ul>

  <div class="tab-content">
    <div id="form" class="tab-pane fade in active">
      <div class="field form-group">
	<%= f.text_area :template, class: 'form-control for-preview', rows: 20 %>
      </div>
    </div>
    <div id="preview" class="tab-pane fade">
    </div>
  </div>

  <div class="form-inline">
    <div class="field form-group">
      <%= f.label '報告日時' %><br>
      <%= f.select :day_of_week, options_for_select(t('date.day_names').zip((0..6).to_a), @group.reporting_time.wday),
	{}, class: 'form-control time-select' %>
    </div>
    <div class="field form-group"">
      <%= f.label '　' %><br>
      <%= f.time_select :time, { default: @group.reporting_time }, { class: 'form-control time-select' } %>
    </div>
  </div>
  <div class="actions form-group">
    <%= bs_submit(f) %>
  </div>
<% end %>
