<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control', rows: 4 %>
  </div>
  <div class="field form-group">
    <%= f.label :template %><br>
    <%= f.text_area :template, class: 'form-control', rows: 20 %>
  </div>
  <div class="field form-group"">
    <%= f.label :time %><br>
    <%= f.time_select :time, { default: @group.reporting_time }, { class: 'form-control time-select' } %>
  </div>
  <div class="field form-group">
    <%= f.label :day_of_week %><br>
    <%= f.select :day_of_week, options_for_select(["日曜","月曜","火曜","水曜","木曜","金曜","土曜"].zip((0..6).to_a), @group.reporting_time.wday),
    {}, class: 'form-control time-select' %>
  </div>
  <div class="actions form-group">
    <%= bs_submit(f) %>
  </div>
<% end %>
