<h1>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Template</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><%= group.template %></td>
        <td><%= link_to 'Show', group %></td>
	<td>
	  <% if current_user.group_id == group.id %>
            <%= link_to 'Edit', edit_group_path(group) %>	    
	  <% end %>
	</td>
      </tr
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path if current_user.group_id.nil? %>
