<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<div>
  <strong>Description:</strong>
  <%= simple_format @group.description %>
</div>

<div>
  <strong>Template:</strong>
  <%= simple_format @group.template %>
</div>

<p>
  <strong>Time:</strong>
  <%= @group.reporting_time %>
</p>
<% if current_user.group.nil? %>
  <%= form_for current_user, url: users_belongs_to_group_path do |f| %>
    <%= hidden_field :group, :id %>
    <%= f.submit "参加する" %>
  <% end %>
<% end %>
<div>
  <strong>所属ユーザ:</strong>
  <p>
    <% @group.users.each do |user| %>
      <%= link_to user.name, "/users/#{user.id}/weekly_reports" %><br>
    <% end %>
  </p>
</div>
<% if @group == current_user.group %>
  <%= link_to 'グループの週報一覧', "/groups/#{@group.id}/weekly_reports" %><br>
  <%= write_latest_report_btn %><br>
<% end %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
