<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<div>
  <strong>Description:</strong>
  <%= simple_format @group.description %>
</div>

<div>
  <strong>Template:</strong>
  <%= simple_format @group.template %>
</div>

<p>
  <strong>Time:</strong>
  <%= @group.reporting_time %>
</p>
<% if current_user.group.nil? %>
  <%= form_for current_user, url: users_belongs_to_group_path do |f| %>
    <%= hidden_field :group, :id %>
    <%= f.submit "参加する" %>
  <% end %>
<% end %>
<% if @group == current_user.group %>
  <%= write_latest_report_btn %><br>
<% end %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
