<div class="report_element">
  <div class="user_icon"><%= gravatar_for report.user, 40 %></div>

  <div class="report_header">
    <div class="report_name"><%= link_to report.user.name, users_weekly_reports_path(report.user), class: :report_user_name %></div>
    <div class="report_time"><%=  report.updated_at  %></div>
  </div>

  <div class="report_body">
    <%= link_to simple_format(report.content.html_safe.truncate(320)), report, class: :report_content %>
  </div>

  <div class="report_footer">
    <div class="pull-right">
      <span class="glyphicon glyphicon-comment"></span>
      <span class="comment_count">
        <%= report.comments.count %>
      </span>
    </div>
  </div>
</div>
