<h1>Home#index</h1>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.name %></strong>.
  <%= link_to "Settings", edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %> <br>
  <%= link_to "Groups", groups_path %> <br>
  <%= link_to "Weekly Reports", weekly_reports_path %> <br><br>

  <% if current_user.wrote_latest_report? %>
    <%= link_to '週報を書く', new_weekly_report_path %><br>
  <% end  %>
  <% if current_user.group %>
    <% reports = current_user.group.weekly_reports %>
    <% unless reports.empty? %>
      <% recent_time = reports.maximum(:reporting_time) %>
      <table>
	<caption><%= link_to current_user.group.name, current_user.group %>の直近の週報(<%= recent_time.getlocal %>)</caption>
	<tbody>
	  <% reports.where('reporting_time = ?', recent_time).each do |report| %>
	    <tr>
	      <td><%= report.user.name %></td>
	      <td class='report_content'><%= link_to report.content, report %></td>
	    </tr>
	  <% end %>
	</tbody>
      </table>
    <% end %>
  <% end %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
<% end %>
<p>Find me in app/views/home/index.html.erb</p>
