<% if user_signed_in? %>
  <% if current_user.group %>
    <%= write_latest_report_btn %>
    <% reports = current_user.group.weekly_reports %>
    <% unless reports.empty? %>
      <% recent_time = reports.maximum(:reporting_time) %>
      <table class="table"">
	<caption><%= link_to current_user.group.name, current_user.group %>の直近の週報(<%= recent_time.getlocal %>)</caption>
	<tbody>
	  <% reports.where('reporting_time = ?', recent_time).each do |report| %>
	    <tr>
	      <!-- <td><%= gravatar_for current_user %></td> ロードがうっといので一時的に-->
	      <td><%= report.user.name %></td>
	      <td class="report_content""><%= link_to report.content, report %></td>
	      <td class="report_updated_time"><%= report.updated_at %></td>
	    </tr>
	  <% end %>
	</tbody>
      </table>
    <% else %>
      <h2><%= link_to current_user.group.name, current_user.group %></h2>
    <% end %>    
  <% end %>
<% end %>
